body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.parallax-container {
  position: relative;
    overflow: hidden;
    height: 400px;
}

.card.small {
  height: 175px;
}

.a.card.small.blue.lighten-3 {
  height: 150px;
}

h6 {
  line-height: 2;
}

.card-title {
  font-style: italic;
}
    