<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Bar Check</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper black">
                <div class="container">
                    <a href="/bars">Bar Check</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="space-between">
                            <% if (user) { %>
                            <a href="/logout">Log Out</a>
                        <li class="space-between"><a href="/bars/new">Add a Bar</a></li>
                        <% } else { %>
                        <a href="/auth/google">Login with Google</a>
                        <% } %>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 class="center-align">Check Out Bars</h1>
            <div class="row">
                <% bars.forEach(function(bar) { %>
                <div class="col s6">
                    <div class="card">
                        <div class="card-image same-height">
                            <img class="same-height" src="<%= bar.indexImg %>" alt="">
                        </div>
                        <div>
                            <div class="card-action">
                                <a href="/bars/<%= bar._id %>"><%= bar.name %></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </main>
</body>

</html>